<%= form_for @dimension do |f| %>
  <div class="container upload-demo">
    <h1 class="title">Simple Image Resizing</h1>
    <div class="row">
      <div class="one-third column">
        <div class="actions">

          <div class="file-btn-wrapper">
            <button class="file-btn">
              <span>Upload</span>
              <%= f.file_field :image_upload, {value: "Choose a file"} %>
            </button>
          </div>

          <div class="result-btn-wrapper">
            <button class="upload-result">View Result</button>
          </div>

          <div class="submit-wrapper">
            <%= f.submit "Submit" %>
          </div>
        </div>
      </div>
      <div class="two-thirds column">
        <div class="upload-msg">
          Upload a file and set dimensions to start cropping
        </div>
        <div id="upload-demo"></div><br />
      </div>
    </div>
  </div>
<% end %>